<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wgu.c_196">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.C196">
        <activity android:name=".ShareNoteActivity"
            android:label="Course Note"></activity>
        <activity
            android:name=".CreateMentorActivity"
            android:label="Mentor Info" />
        <activity
            android:name=".CreateAssessmentActivity"
            android:label="Assessment Info" />
        <activity
            android:name=".CourseDetailActivity"
            android:label="Course Detail"
            android:parentActivityName=".AllTermsActivity" />
        <activity
            android:name=".CreateCourseActivity"
            android:label="Course Info" />
        <activity
            android:name=".TermDetailActivity"
            android:label="Term Detail"
            android:parentActivityName=".AllTermsActivity" />
        <activity
            android:name=".AddTermActivity"
            android:label="Term Info" />
        <activity
            android:name=".AllTermsActivity"
            android:label="All Terms"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>